{% extends 'template.html' %}

{% block title %} Dashboard {% endblock %}

{% block content%}
<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Informasi</h4>
    <p class="card-category">Realtime Face Recognition & Verification Menggunakan Convolutional Neural Networks</p>
  </div>
  <div class="card-body">
    <p>
      <h3>Informasi Menu:</h3>
      <ol>
        <li>Menu <strong>Dashboard</strong>, untuk menampilkan halaman ini.</li>
        <li>Menu <strong>Face Recognition</strong>, menampilkan antar muka pengenalan wajah secara realtime.</li>
        <li>Menu <strong>Face Verification</strong>, melakukan demo verifikasi dengan membandingkan dua citra wajah.</li>
      </ol>
    </p>
    <hr>
    <p>
        Dibuat untuk menyelesaikan Tugas Akhir oleh:
        <ol>
            <li>Ari Susanto (Teknik Informatika)</li>
            <li>Puji Rachmawati (Teknik Informatika)</li>
        </ol>
    </p>
    <p>
        Dosen Pembimbing:
        <ol>
            <li>M. Fachrurrozi, M.T,</li>
            <li>Erwin, M.Si,</li>
        </ol>
    </p>
  </div>
</div>

<script type="text/javascript">
  $('#dashboard').addClass('active');
</script>
{% endblock %}